* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/**Header Component*/
.navbar {
  background: rgb(231, 226, 221);
  z-index: 1;
  text-transform: capitalize;
}
.navbar .nav-link {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
/*SignUp Component*/
.signup-container {
  height: 100vh;
}
/*Login Component*/
.header {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}
.header:hover {
  color: rgb(0, 172, 193);
  font-weight: bold;
  font-size: 2rem;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}
.loginbtn:focus {
  outline: none !important;
}
